@import './vars';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply mb-8 text-4xl font-bold tracking-tight;
  }
  h2 {
    @apply mb-7 text-3xl font-semibold tracking-tight;
  }
  h3 {
    @apply mb-6 text-2xl font-semibold;
  }
  h4 {
    @apply mb-5 text-xl font-medium;
  }
  h5 {
    @apply mb-4 text-lg font-medium;
  }
  h6 {
    @apply mb-4 text-base font-medium;
  }
  p {
    @apply mb-6 text-base leading-relaxed;
  }
  strong {
    @apply font-extrabold;
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
:root {
  background-color: $background;
}
// FONT HANDLE
html {
  &[lang='en'] > * {
    --font-default: var(--font-fira) !important;
  }
  &[lang='fa'] > * {
    --font-default: var(--font-vazir) !important;
  }
}

html,
body {
  scroll-behavior: smooth;
  overflow: visible !important;
  margin: 0 auto;
  font-family:
    var(--font-default),
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  background-color: $background;
  padding: 0.5rem;
  min-width: 320px;
}

@media screen and (min-width: 768px) {
  html,
  body {
    padding: 1rem !important;
  }
}

@media screen and (min-width: 1024px) {
  html,
  body {
    padding: 2rem !important;
  }
}

@media screen and (min-width: 1600px) {
  html,
  body {
    padding: 3rem !important;
  }
}

/* width */
::-webkit-scrollbar {
  width: 2.75rem;
  border-left: $line 1px solid;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border: 0.6rem solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  background-color: $i-primary;
}

.loader {
  width: 100%;
  height: 4.8px;
  display: inline-block;
  position: relative;
  overflow: hidden;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  width: 0;
  height: 4.8px;
  background: $accent-orange;
  position: absolute;
  top: 0;
  left: 0;
  animation: animFw 5s linear infinite;
}

@keyframes animFw {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
