$background: #01080e;
$surface-primary: #011627;
$surface-secondary: #011221;
$accent-orange: #fea55f;
$accent-green: #43d9ad;
$accent-red: #e99287;
$accent-purple: #c98bdf;
$accent-blue: #4d5bce;
$line: #1e2d3d;
$t-primary: #ffffff;
$t-secondary: #607b96;
$i-primary: #607b96;
